[user]
	name = Takanobu Izukawa
	email = takanobu@izukawa.org

[color]
	status = auto
	log = auto

[alias]
	st = status
	ci = commit
	ls = ls-files

[merge]
	tool = diff3
[init]
	defaultBranch = main
[pull]
	rebase = false
